#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  max-width: 1280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:stretch;
}

header {
  flex-grow: 1;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 20vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 3;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

nav {
  margin-right: 10%;
}

#logo {
  align-self: flex-start;
  font-size: 0.8rem;
  font-family: 'Brush Script MT', cursive;
  margin-left: 8px;
  margin-top: 5px;
}


#logout-main > section {
  flex-grow: 2;
}

#logout-main > div {
  flex-grow: 1;
}


p {
  font-size: 1.2rem;
}

a {
  color: rgb(174, 171, 171) !important;
  text-decoration: none !important;
  padding-bottom: 10px;
  font-size: 1.5rem;
}

a:hover {
  color: #f1f1f1 !important;
  border-bottom: 2px solid #f1f1f1;
}

.title-wrapper {
  display: flex;
  flex-grow: 1;
}

.page-title {
  margin: auto !important;
  font-size: 3rem;
  color: rgb(174, 171, 171);
}

#newgroup-title {
  margin-bottom: 20px;
  font-size: 2rem;
}


/* forms */
.form, .group-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  
}

label {
  width: 100%;
  margin-top: 10px;
}

span {
  display: block;
  font-size: 1.2rem;
}

input, select {
  width: 80%;
  border-radius: 5px !important;
  font-size: 1.5rem !important;
  background-color: rgb(174, 171, 171);
}

.form input {
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type="date"], input[type="time"]{
  margin-top: 3px;
}

input:focus, select:focus {
  outline: none !important;
  border-color: #FF0000 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 115, 0.6) !important;
} 

button {
  margin-top:  40px !important;
  margin-bottom:  20px !important;
  font-weight: 700;
  padding: 10px;
  width: 80%;
  border-radius: 5px !important;
  background-color: rgb(10, 129, 36);
  color: #e4e4e4;
  font-size: 1.5rem !important;
}

button:hover {
  background-color: #dcdcdc;
  color: rgb(12, 165, 45);
}

#groupform-btn {
  margin-bottom: 40px !important;
  margin-top: 40px !important;
}

.confirm-wrapper {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

#confirm-yes, #confirm-no {
  width: 48% !important;
}

#confirm-no {
  background-color: rgb(138, 39, 39);
}

#confirm-no:hover {
  background-color: #dcdcdc;
  color: rgb(138, 39, 39);
}


/* Tables */
table {
  width: 80%;
  display: grid;
  font-size: 1.5rem;
}

tbody {
  width: 100%;
  display: grid;
  row-gap: 20px;
  grid-column-gap: 20px;
}

tr {
  display: flex;
  justify-content: space-between;
}

td {
  padding: 10px;
  background-color:rgb(17, 85, 78);
  border-radius: 5px;
}


/* Desktop-specific styles */
@media only screen and (min-width: 768px) {
  #root {
    margin: 10vh auto;
    border: 1px solid rgba(255, 255, 255, 0.401);
    box-shadow: inset 0 2px 2px rgba(34, 81, 26, 0.075), 0 0 25px rgba(56, 93, 38, 0.8) !important;
    border-radius: 8px;
    min-height: 80vh;
    min-width: 70vh;
    height: fit-content;
    width: fit-content;
  }

  header {
    min-height: 20vh;
  }

  #logo {
    margin-left: 3px;
  }

  main {
    justify-content: center;
  }

  #newgroup-title {
    font-size: 2rem;
  }

  a {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  span {
    font-size: 0.9rem;
  }

  input, select {
    font-size: 1rem !important;
  }
 
  button {
    font-size: 1rem !important;
    margin-top:  20px !important;
  }

  table {
    font-size: 1rem;
  }




  
  
}
  